</main><!-- /.container -->

<br><br><br>

<p class="text-center">&COPY; CmsShoppingCart</p>



<script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
